
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6rem;
}

ul{
    list-style: none;

}

a{
    color: #333;
    text-decoration: none;
}

h1,h2 {
    line-height: 1.2rem;
    font-weight: 300;
}

p{
    margin: 1rem 0;
}

img{
    width: 100%;
}

.text-center{
    text-align: center;
}


 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 80%;
    height: 70px;
    padding: 0 3rem;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;

 }

 .navbar a{
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;

 }

 .navbar a:hover{
    border-bottom: 2px solid var(--warning);
 }

 .navbar ul{
    display: flex;
 }


 .navbar .brand {
    font-weight: 400;
 }

 .navbar h1{
    font-size: 3rem;
 }

 .navbar span{
    color: var(--warning);
 }


 .main-header{
    background-image: url(../asset/bg-1.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;

 }

 .content{

    text-align: center;
    display: flex;
 }