
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
link
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6rem;
}

ul{
    list-style: none;

}

a{
    color: #333;
    text-decoration: none;
}

h1,h2 {
    line-height: 1.2rem;
    font-weight: 300;
}

p{
    margin: 1rem 0;
}

img{
    width: 100%;
}

.text-center{
    text-align: center;
}


 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    position: fixed;
    top: 0;
    width: 80%;
    height: 70px;
    padding: 0 3rem;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
     position: relative;
     border-radius: 20px;
     isolation: isolate;
     transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(1px);
     border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar::before{

     content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 20px -5px rgba(87, 85, 85, 0.6);
  background: rgba(255, 255, 255, 0.05);
}

.navbar::after{
    content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 28px;
  backdrop-filter: blur(4px);
  filter: url(#glass-distortion) saturate(120%) brightness(1.15) ;
  isolation: isolate;
}

 .navbar a{
     color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;
    font-size: large;
    position: relative;
    display: inline-block;

 }

 .navbar a:hover{
     box-shadow: inset 0 -2px 0 var(--warning);
 }

 .navbar ul{
    display: flex;
 }


 .navbar .brand {
    font-weight: 400;
 }

 .navbar h1{
    font-size: 3rem;
 }

 .navbar span{
    color: var(--warning);
 }


 .main-header{
    background-image: url(../asset/bg-1.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    width: 100%;

 }

 .content{

    text-align: center;
    display: flex;
 }

.icons{
    padding: 30px;
}

.icons h3{
    font-weight: 400;
    margin-bottom: 15px;
}


.icons i{
    background-color:var(--primary) ;
    border-radius: 50%;
    color: #fff;
    padding: 15px 11px;
    margin-bottom: 1.5rem;
}
